@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/
.burger{ 
    display: none;
}
.burger div{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px;
}

/* .main{
     overflow: hidden; 
    background:  #cacaca url('/bg.png') no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: right center;
    
} */


/* .main::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    opacity: 0.4;
} */

.character_box{
    /* overflow: hidden; */
    width: 36.75rem;
    margin-left: 6.5rem;
    margin-top: 6.25rem; 
    padding: 4rem;
    height: fit-content;
    background: #fff;
}

.home_div{
    padding: .75rem 1rem;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    border: 1px solid #1DAECE;
    border-radius: .5rem;
    color: #1DAECE;
}

.__label{
    text-align: center;
    font-family: Josefin Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color:  #0098A1;
    


}